* {
  box-sizing: border-box;
  color: var(--color-gray-100);
  background: var(--color-gray-800);
}

html {
  font-family: Inter,sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
}

#app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none;
}

:root {
  --transition: 0.1s;

  --color-transparent: transparent;
  --color-black: #000000;
  --color-white: #FFFFFF;
  --color-whiteAlpha-50: rgba(255, 255, 255, 0.04);
  --color-whiteAlpha-100: rgba(255, 255, 255, 0.06);
  --color-whiteAlpha-200: rgba(255, 255, 255, 0.08);
  --color-whiteAlpha-300: rgba(255, 255, 255, 0.16);
  --color-whiteAlpha-400: rgba(255, 255, 255, 0.24);
  --color-whiteAlpha-500: rgba(255, 255, 255, 0.36);
  --color-whiteAlpha-600: rgba(255, 255, 255, 0.48);
  --color-whiteAlpha-700: rgba(255, 255, 255, 0.64);
  --color-whiteAlpha-800: rgba(255, 255, 255, 0.80);
  --color-whiteAlpha-900: rgba(255, 255, 255, 0.92);
  --color-blackAlpha-50: rgba(0, 0, 0, 0.04);
  --color-blackAlpha-100: rgba(0, 0, 0, 0.06);
  --color-blackAlpha-200: rgba(0, 0, 0, 0.08);
  --color-blackAlpha-300: rgba(0, 0, 0, 0.16);
  --color-blackAlpha-400: rgba(0, 0, 0, 0.24);
  --color-blackAlpha-500: rgba(0, 0, 0, 0.36);
  --color-blackAlpha-600: rgba(0, 0, 0, 0.48);
  --color-blackAlpha-700: rgba(0, 0, 0, 0.64);
  --color-blackAlpha-800: rgba(0, 0, 0, 0.80);
  --color-blackAlpha-900: rgba(0, 0, 0, 0.92);
  --color-gray-50: #F7FAFC;
  --color-gray-100: #EDF2F7;
  --color-gray-200: #E2E8F0;
  --color-gray-300: #CBD5E0;
  --color-gray-400: #A0AEC0;
  --color-gray-500: #718096;
  --color-gray-600: #4A5568;
  --color-gray-700: #2D3748;
  --color-gray-800: #1A202C;
  --color-gray-900: #171923;
  --color-red-50: #FFF5F5;
  --color-red-100: #FED7D7;
  --color-red-200: #FEB2B2;
  --color-red-300: #FC8181;
  --color-red-400: #F56565;
  --color-red-500: #E53E3E;
  --color-red-600: #C53030;
  --color-red-700: #9B2C2C;
  --color-red-800: #822727;
  --color-red-900: #63171B;
  --color-orange-50: #FFFAF0;
  --color-orange-100: #FEEBC8;
  --color-orange-200: #FBD38D;
  --color-orange-300: #F6AD55;
  --color-orange-400: #ED8936;
  --color-orange-500: #DD6B20;
  --color-orange-600: #C05621;
  --color-orange-700: #9C4221;
  --color-orange-800: #7B341E;
  --color-orange-900: #652B19;
  --color-yellow-50: #FFFFF0;
  --color-yellow-100: #FEFCBF;
  --color-yellow-200: #FAF089;
  --color-yellow-300: #F6E05E;
  --color-yellow-400: #ECC94B;
  --color-yellow-500: #D69E2E;
  --color-yellow-600: #B7791F;
  --color-yellow-700: #975A16;
  --color-yellow-800: #744210;
  --color-yellow-900: #5F370E;
  --color-green-50: #F0FFF4;
  --color-green-100: #C6F6D5;
  --color-green-200: #9AE6B4;
  --color-green-300: #68D391;
  --color-green-400: #48BB78;
  --color-green-500: #38A169;
  --color-green-600: #2F855A;
  --color-green-700: #276749;
  --color-green-800: #22543D;
  --color-green-900: #1C4532;
  --color-teal-50: #E6FFFA;
  --color-teal-100: #B2F5EA;
  --color-teal-200: #81E6D9;
  --color-teal-300: #4FD1C5;
  --color-teal-400: #38B2AC;
  --color-teal-500: #319795;
  --color-teal-600: #2C7A7B;
  --color-teal-700: #285E61;
  --color-teal-800: #234E52;
  --color-teal-900: #1D4044;
  --color-blue-50: #ebf8ff;
  --color-blue-100: #bee3f8;
  --color-blue-200: #90cdf4;
  --color-blue-300: #63b3ed;
  --color-blue-400: #4299e1;
  --color-blue-500: #3182ce;
  --color-blue-600: #2b6cb0;
  --color-blue-700: #2c5282;
  --color-blue-800: #2a4365;
  --color-blue-900: #1A365D;
  --color-cyan-50: #EDFDFD;
  --color-cyan-100: #C4F1F9;
  --color-cyan-200: #9DECF9;
  --color-cyan-300: #76E4F7;
  --color-cyan-400: #0BC5EA;
  --color-cyan-500: #00B5D8;
  --color-cyan-600: #00A3C4;
  --color-cyan-700: #0987A0;
  --color-cyan-800: #086F83;
  --color-cyan-900: #065666;
  --color-purple-50: #FAF5FF;
  --color-purple-100: #E9D8FD;
  --color-purple-200: #D6BCFA;
  --color-purple-300: #B794F4;
  --color-purple-400: #9F7AEA;
  --color-purple-500: #805AD5;
  --color-purple-600: #6B46C1;
  --color-purple-700: #553C9A;
  --color-purple-800: #44337A;
  --color-purple-900: #322659;
  --color-pink-50: #FFF5F7;
  --color-pink-100: #FED7E2;
  --color-pink-200: #FBB6CE;
  --color-pink-300: #F687B3;
  --color-pink-400: #ED64A6;
  --color-pink-500: #D53F8C;
  --color-pink-600: #B83280;
  --color-pink-700: #97266D;
  --color-pink-800: #702459;
  --color-pink-900: #521B41;
  --color-linkedin-50: #E8F4F9;
  --color-linkedin-100: #CFEDFB;
  --color-linkedin-200: #9BDAF3;
  --color-linkedin-300: #68C7EC;
  --color-linkedin-400: #34B3E4;
  --color-linkedin-500: #00A0DC;
  --color-linkedin-600: #008CC9;
  --color-linkedin-700: #0077B5;
  --color-linkedin-800: #005E93;
  --color-linkedin-900: #004471;
  --color-facebook-50: #E8F4F9;
  --color-facebook-100: #D9DEE9;
  --color-facebook-200: #B7C2DA;
  --color-facebook-300: #6482C0;
  --color-facebook-400: #4267B2;
  --color-facebook-500: #385898;
  --color-facebook-600: #314E89;
  --color-facebook-700: #29487D;
  --color-facebook-800: #223B67;
  --color-facebook-900: #1E355B;
  --color-messenger-50: #D0E6FF;
  --color-messenger-100: #B9DAFF;
  --color-messenger-200: #A2CDFF;
  --color-messenger-300: #7AB8FF;
  --color-messenger-400: #2E90FF;
  --color-messenger-500: #0078FF;
  --color-messenger-600: #0063D1;
  --color-messenger-700: #0052AC;
  --color-messenger-800: #003C7E;
  --color-messenger-900: #002C5C;
  --color-whatsapp-50: #dffeec;
  --color-whatsapp-100: #b9f5d0;
  --color-whatsapp-200: #90edb3;
  --color-whatsapp-300: #65e495;
  --color-whatsapp-400: #3cdd78;
  --color-whatsapp-500: #22c35e;
  --color-whatsapp-600: #179848;
  --color-whatsapp-700: #0c6c33;
  --color-whatsapp-800: #01421c;
  --color-whatsapp-900: #001803;
  --color-twitter-50: #E5F4FD;
  --color-twitter-100: #C8E9FB;
  --color-twitter-200: #A8DCFA;
  --color-twitter-300: #83CDF7;
  --color-twitter-400: #57BBF5;
  --color-twitter-500: #1DA1F2;
  --color-twitter-600: #1A94DA;
  --color-twitter-700: #1681BF;
  --color-twitter-800: #136B9E;
  --color-twitter-900: #0D4D71;
  --color-telegram-50: #E3F2F9;
  --color-telegram-100: #C5E4F3;
  --color-telegram-200: #A2D4EC;
  --color-telegram-300: #7AC1E4;
  --color-telegram-400: #47A9DA;
  --color-telegram-500: #0088CC;
  --color-telegram-600: #007AB8;
  --color-telegram-700: #006BA1;
  --color-telegram-800: #005885;
  --color-telegram-900: #003F5E;
}
