<script setup lang='ts'>
import {ref} from 'vue';
import {useRoute} from 'vue-router';
import {useAppStore} from '@/store/app';
import {usePokemonStore} from '@/store/pokemon';
import axios from '@/services/axios';
import capitalizeAll from '@/helpers/capitalizeAll';

const app = useAppStore();
const pokemons = usePokemonStore();
const route = useRoute();
const id = route.params.id;
const ability = ref({
  name: '',
  effect: '',
  effectShort: '',
  pokemons: [],
});

if (id) {
  axios.get(`/ability/${id}`)
    .then(result => result.data)
    .then(data => {
      ability.value.name = data['name'];
      const effect = data['effect_entries'].find(effect => effect['language'].name === app.language);
      ability.value.effect = effect['effect'] ?? '';
      ability.value.effectShort = effect['short_effect'] ?? '';
      ability.value.pokemons = data['pokemon'].map(p =>
        pokemons.list.find(pokemon => pokemon.name === p['pokemon'].name)
      );
    });
}
</script>

<template>
  <div v-if='ability.name' class='page'>
    <section class='section'>
      <h3 class='title'>{{ capitalizeAll(ability.name) }}</h3>
      <div>
        Type:
        <span class='accent'>ability</span>
      </div>
    </section>
    <section class='section'>
      <h3 class='title'>Info</h3>
      <p>{{ ability.effectShort }}</p>
      <p>{{ ability.effect }}</p>
    </section>
    <section v-if='ability.pokemons.length' class='section'>
      <h3 class='title'>Pokemons</h3>
      <div class='items-start'>
        <RouterLink v-for='pokemon in ability.pokemons' :to='pokemon.url' class='resource'>
          {{ capitalizeAll(pokemon.name) }}
        </RouterLink>
      </div>
    </section>
  </div>
</template>
