<script setup lang='ts'>
import Banner from '@/components/Banner.vue';
</script>

<template>
  <div class='col'>
    <Banner link='/pokemons' text='Pokemons'/>
    <Banner link='/moves' text='Moves'/>
    <Banner link='/abilities' text='Abilities'/>
  </div>
</template>

<style scoped lang='scss'>
.col {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
</style>
