<script setup lang='ts'>
import Card from '@/components/Card.vue';
import {usePokemonStore} from '@/store/pokemon';
import {useAbilityStore} from '@/store/ability';
import {useMoveStore} from '@/store/move';

defineProps({
  listName: String,
});

const pokemons = usePokemonStore();
const abilities = useAbilityStore();
const moves = useMoveStore();

const getList = (listName?: string) => {
  switch (listName) {
    case 'pokemons':
      return pokemons.list;
    case 'abilities':
      return abilities.list;
    case 'moves':
      return moves.list;
    default:
      return [];
  }
}

</script>

<template>
  <div class='list'>
    <Card
      v-for='resource in getList(listName)'
      :key='resource.name'
      :resource='resource'
    />
  </div>
</template>
