<script setup lang='ts'>
import {ref} from 'vue';
import {useRoute} from 'vue-router';
import {useAppStore} from '@/store/app';
import {usePokemonStore} from '@/store/pokemon';
import axios from '@/services/axios';
import capitalizeAll from '@/helpers/capitalizeAll';

const app = useAppStore();
const pokemons = usePokemonStore();
const route = useRoute();
const id = route.params.id;
const move = ref({
  name: '',
  element: '',
  power: '',
  accuracy: '',
  pp: '',
  priority: '',
  effect: '',
  effectShort: '',
  pokemons: [],
});

if (id) {
  axios.get(`move/${id}`)
    .then(result => result.data)
    .then(data => {
      move.value.name = data['name'];
      move.value.element = data['damage_class'].name;
      move.value.power = data['power'];
      move.value.accuracy = data['accuracy'];
      move.value.pp = data['pp'];
      move.value.priority = data['priority'];
      const effect = data['effect_entries'].find(effect => effect['language'].name === app.language);
      move.value.effect = effect['effect'] ?? '';
      move.value.effectShort = effect['short_effect'] ?? '';
      move.value.pokemons = data['learned_by_pokemon'].map(p =>
        pokemons.list.find(pokemon => pokemon.name === p.name)
      );
    });
}
</script>

<template>
  <div v-if='move.name' class='page'>
    <section class='section'>
      <h3 class='title'>{{ capitalizeAll(move.name) }}</h3>
      <div>
        Type:
        <span class='accent'>move</span>
      </div>
      <div>
        Element:
        <span class='accent'>{{ move.element }}</span>
      </div>
      <div>
        Power:
        <span class='accent'>{{ move.power }}</span>
      </div>
      <div>
        Accuracy:
        <span class='accent'>{{ move.accuracy }}</span>
      </div>
      <div>
        Pp:
        <span class='accent'>{{ move.pp }}</span>
      </div>
      <div>
        Priority:
        <span class='accent'>{{ move.priority }}</span>
      </div>
    </section>
    <section class='section'>
      <h3 class='title'>Info</h3>
      <p>{{ move.effectShort }}</p>
      <p>{{ move.effect }}</p>
    </section>
    <section v-if='move.pokemons.length' class='section'>
      <h3 class='title'>Pokemons</h3>
      <div class='items-start'>
        <RouterLink v-for='pokemon in move.pokemons' :to='pokemon.url' class='resource'>
          {{ capitalizeAll(pokemon.name) }}
        </RouterLink>
      </div>
    </section>
  </div>
</template>
