<script setup lang='ts'>
import {ref} from 'vue';
import {useRoute} from 'vue-router';
import {useMoveStore} from '@/store/move';
import {useAbilityStore} from '@/store/ability';
import axios from '@/services/axios';
import capitalizeAll from '@/helpers/capitalizeAll';

const moves = useMoveStore();
const abilities = useAbilityStore();
const route = useRoute();
const id = route.params.id;
const pokemon = ref({
  name: '',
  baseExperience: '',
  height: '',
  abilities: [],
  moves: [],
  sprites: [],
});

if (id) {
  axios.get(`pokemon/${id}`)
    .then(result => result.data)
    .then(data => {
      pokemon.value.name = data['name'];
      pokemon.value.baseExperience = data['base_experience'];
      pokemon.value.height = data['height'];
      pokemon.value.sprites = Object.values(data['sprites']).filter((sprite, index) => sprite && index < 8);
      pokemon.value.abilities = data['abilities'].map(a =>
        abilities.list.find(ability => ability.name === a['ability'].name)
      );
      pokemon.value.moves = data['moves'].map(m =>
        moves.list.find(move => move.name === m['move'].name)
      );
    });
}
</script>

<template>
  <div v-if='pokemon.height' class='page'>
    <section class='section'>
      <h3 class='title'>{{ capitalizeAll(pokemon.name) }}</h3>
      <div>
        Type:
        <span class='accent'>pokemon</span>
      </div>
      <div>
        Base Experience:
        <span class='accent'>{{ pokemon.baseExperience }}</span>
      </div>
      <div>
        Height:
        <span class='accent'>{{ pokemon.height }}</span>
      </div>
      <div class='items'>
        <img v-for='sprite in pokemon.sprites' :src='sprite' :alt='sprite'>
      </div>
    </section>
    <section v-if='pokemon.abilities.length' class='section'>
      <h3 class='title'>Abilities</h3>
      <div class='items-start'>
        <RouterLink v-for='ability in pokemon.abilities' :to='ability.url' class='resource'>
          {{ capitalizeAll(ability.name) }}
        </RouterLink>
      </div>
    </section>
    <section v-if='pokemon.moves.length' class='section'>
      <h3 class='title'>Moves</h3>
      <div class='items-start'>
        <a v-for='move in pokemon.moves' :href='move.url' class='resource'>
          {{ capitalizeAll(move.name) }}
        </a>
      </div>
    </section>
  </div>
</template>
