<script setup lang='ts'>
import {watch} from 'vue';
import {useRoute} from 'vue-router';
import type {Resource} from '@/types/Resource';
import Card from '@/components/Card.vue';
import {usePokemonStore} from '@/store/pokemon';
import {useAbilityStore} from '@/store/ability';
import {useMoveStore} from '@/store/move';

const pokemons = usePokemonStore();
const abilities = useAbilityStore();
const moves = useMoveStore();
const route = useRoute();

const filterResources = (resources: Resource[], name: string) => {
  return resources.filter(e =>
    !name || e.name.replace('-', '').includes(name)
  );
}

let name = route.params.name.toString().toLowerCase();
let pokemonsList = filterResources(pokemons.list, name);
let abilitiesList = filterResources(abilities.list, name);
let movesList = filterResources(moves.list, name);

watch(
  () => route.params.name,
  newName => {
    name = newName.toString().toLowerCase();
    pokemonsList = filterResources(pokemons.list, name);
    abilitiesList = filterResources(abilities.list, name);
    movesList = filterResources(moves.list, name);
  }
)

</script>

<template>
  <div class='search'>
    <h3 v-if='pokemonsList.length' class='search-list-name'>Pokemons</h3>
    <div class='search-list'>
      <Card
        v-for='pokemon in pokemonsList'
        :key='pokemon.name'
        :resource='pokemon'
      />
    </div>
    <h3 v-if='abilitiesList.length' class='search-list-name'>Abilities</h3>
    <div class='search-list'>
      <Card
        v-for='ability in abilitiesList'
        :key='ability.name'
        :resource='ability'
      />
    </div>
    <h3 v-if='movesList.length' class='search-list-name'>Moves</h3>
    <div class='search-list'>
      <Card
        v-for='move in movesList'
        :key='move.name'
        :resource='move'
      />
    </div>
  </div>
</template>

<style scoped lang='scss'>
.search {
  width: 100%;
  display: flex;
  flex-direction: column;

  .search-list-name {
    display: flex;
    justify-content: center;
  }

  .search-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
}
</style>
