<script setup lang='ts'>
defineProps({
  text: String,
  link: String
});
</script>

<template>
  <RouterLink :to='link' class='banner'>
    {{ text }}
  </RouterLink>
</template>

<style scoped lang='scss'>
.banner {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: 1.25rem;
  color: var(--color-teal-300);
  border: 1px solid var(--color-gray-700);
  transition: var(--transition);

  &:hover {
    background: var(--color-gray-700);
  }
}
</style>
