<script setup lang='ts'>
import capitalizeAll from '../helpers/capitalizeAll';
import type {Resource} from '@/types/Resource';

defineProps<{
  resource: Resource,
}>();
</script>

<template>
  <RouterLink :to='resource.url' class='card'>
    {{ capitalizeAll(resource.name) }}
  </RouterLink>
</template>

<style scoped lang='scss'>
.card {
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: 1.25rem;
  color: var(--color-teal-300);
  border: 1px solid var(--color-gray-700);
  transition: var(--transition);

  &:hover {
    background: var(--color-gray-700);
  }
}

@media only screen and (min-width: 30rem) {
  .card {
    width: calc((100% - 0.5rem) / 2);
  }
}

@media only screen and (min-width: 48rem) {
  .card {
    width: calc((100% - 0.5rem * 2) / 3);
  }
}

@media only screen and (min-width: 62rem) {
  .card {
    width: calc((100% - 0.5rem * 3) / 4);
  }
}
</style>
