<script setup lang='ts'>
import {ref} from 'vue';
import router from '@/router';

const text = ref('');

const onSearch = () => {
  router.push({path: `/search/${text.value.trim()}`});
  text.value = '';
}
</script>

<template>
  <div class='search'>
    <img class='icon' src='/search.svg' alt='' @click='onSearch'>
    <input
      class='input'
      type='text'
      v-model='text'
      v-on:keyup.enter='onSearch'
    />
  </div>
</template>

<style scoped lang='scss'>
.search {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background: var(--color-gray-700);

  .icon {
    width: 2rem;
    height: 2rem;
    display: flex;
    background: var(--color-transparent);
    cursor: pointer;
  }

  .input {
    width: 100%;
    height: 2rem;
    display: flex;
    border: 0;
    border-bottom: 2px solid var(--color-transparent);
    font-size: 1.25rem;
    background: var(--color-transparent);
    transition: var(--transition);

    &:focus {
      outline: none;
      border-bottom: 2px solid var(--color-gray-400);
    }
  }
}
</style>
