<script setup lang='ts'>
import {RouterLink, RouterView} from 'vue-router';
import axios, {replaceUrl} from '@/services/axios';
import {usePokemonStore} from '@/store/pokemon';
import {useAbilityStore} from '@/store/ability';
import {useMoveStore} from '@/store/move';
import {Resource} from '@/types/Resource';
import Search from '@/components/Search.vue';
import Spinner from '@/components/Spinner.vue';

const pokemons = usePokemonStore();
const moves = useMoveStore();
const abilities = useAbilityStore();

axios.get(`pokemon?limit=100000&offset=0`)
  .then(result => result.data['results'] as Resource[])
  .then(list => {
    list.forEach(e => e.url = replaceUrl(e.url));
    pokemons.setList(list);
  });

axios.get(`ability?limit=100000&offset=0`)
  .then(result => result.data['results'] as Resource[])
  .then(list => {
    list.forEach(e => e.url = replaceUrl(e.url));
    abilities.setList(list)
  });

axios.get(`move?limit=100000&offset=0`)
  .then(result => result.data['results'] as Resource[])
  .then(list => {
    list.forEach(e => e.url = replaceUrl(e.url));
    moves.setList(list)
  });
</script>

<template>
  <header class='header content'>
    <RouterLink to='/'>
      <img class='icon' src='/logo.svg' alt=''>
    </RouterLink>
    <Search/>
    <a href='https://gitlab.com/illiatsikhanau'>
      <img class='icon' src='/gitlab.svg' alt=''>
    </a>
  </header>
  <main class='content'>
    <RouterView v-if='pokemons.list.length && moves.list.length && abilities.list.length'/>
    <Spinner v-else/>
  </main>
</template>

<style lang='scss'>
.header {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;

  .icon {
    width: 3rem;
    height: 3rem;
    display: flex;
  }
}

.content {
  width: 100%;
  max-width: 104rem;
  display: flex;
  padding: 0.5rem 2rem;
}

.list {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.page {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1px;
  background: var(--color-gray-700);

  .section {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1.5rem 0;
    white-space: pre-line;

    .title {
      width: 100%;
      display: flex;
      justify-content: center;
      text-align: center;
      margin: 0 0 1rem 0;
      color: var(--color-teal-300);
    }

    .items,
    .items-start {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 0.5rem;
    }

    .items {
      justify-content: center;
    }

    .accent {
      color: var(--color-teal-300);
    }

    .resource {
      width: 100%;
      text-align: center;
      transition: var(--transition);

      &:hover {
        color: var(--color-teal-300);
      }
    }
  }
}

@media only screen and (min-width: 30rem) {
  .page {
    .section {
      .resource {
        width: calc((100% - 0.5rem) / 2);
      }
    }
  }
}

@media only screen and (min-width: 48rem) {
  .page {
    .section {
      .resource {
        width: calc((100% - 0.5rem * 2) / 3);
      }
    }
  }
}

@media only screen and (min-width: 62rem) {
  .page {
    .section {
      .resource {
        width: calc((100% - 0.5rem * 3) / 4);
      }
    }
  }
}
</style>
